html {
  background-color: #2a2a2a;
  overflow: hidden;
}

#dock {
  border-bottom: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-modules {
  text-align: left;
}

.center-modules {
  text-align: center;
}

.right-modules {
  text-align: right;
}

button.toggler {
  position: absolute;
  right: 0;
  top: 0;
}
